$BrightRed: hsl(12, 88%, 59%);

* {
	margin: 0;
	padding: 0;
	font-family: 'Be Vietnam Pro', sans-serif;
}

body {
	overflow-x: hidden;
}

#root {
	// height: 100vw;
	max-width: 1100px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	font-size: 16px;
	background-image: url('/images/bg-simplify-section-mobile.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
section {
	margin-bottom: 6rem;
}
button,
.listPointBox {
	background-color: $BrightRed;
	color: white;
	border: none;
	border-radius: 5rem;
	font-size: 0.9rem;
}

.listPointBox {
	font-weight: bold;
	font-size: 1rem;
	padding: 0.7rem;
}

button {
	cursor: pointer;
	padding: 1rem;
	box-shadow: 0px 10px 22px -13px $BrightRed;
	-webkit-box-shadow: 0px 10px 22px -13px $BrightRed;
	-moz-box-shadow: 0px 10px 22px -13px $BrightRed;
}

.getStarted {
	width: 10rem;
}
