$DarkGrayishBlue: hsl(227, 12%, 61%);
$fontsizeh2: 2.2rem;

.backgroundElement_1,
.backgroundElement_2 {
	position: absolute;
	z-index: -1;
}
.backgroundElement_1 {
	top: -16rem;
	right: -13rem;
}
.backgroundElement_2 {
	top: 57rem;
	right: 67rem;
}

.boxContainer {
	display: flex;
	.description,
	.descriptionList {
		p {
			color: $DarkGrayishBlue;
			line-height: 1.8rem;
		}
	}
	.description {
		width: 40%;
		display: flex;
		flex-direction: column;
		text-align: left;
		justify-content: center;
		h1,
		p {
			padding-bottom: 2rem;
		}

		h1 {
			font-size: 3rem;
		}

		h2 {
			font-size: $fontsizeh2;
		}
		p {
			padding-right: 19%;
		}
	}

	.list {
		width: 60%;
		padding-left: 5rem;
		.descriptionList {
			display: grid;
			grid-template-columns: 4.7rem auto;
			gap: 0.7rem 2rem;
			padding-bottom: 2rem;
			h3,
			p {
				display: flex;
				grid-column: 2 / 3;
			}
			h3 {
				grid-row: 1 / 2;
				justify-content: left;
				align-items: center;
			}
			p {
				grid-row: 2 / 3;
				text-align: left;
			}
			.listPointBox {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.introducingImages {
			width: 60%;
			margin: auto 0;
			padding-left: 5rem;
			img {
				width: 100%;
			}
		}
	}
}
.details {
	.boxContainer {
		.description {
			justify-content: start;
		}
	}
}

// ### Primary

// Bright Red: hsl(12, 88%, 59%)
// Dark Blue: hsl(228, 39%, 23%)

// ### Neutral

// Dark Grayish Blue: hsl(227, 12%, 61%)
// Very Dark Blue: hsl(233, 12%, 13%)
// Very Pale Red: hsl(13, 100%, 96%)
// Vary Light Gray: hsl(0, 0%, 98%)

.comments {
	position: relative;
	h2 {
		font-size: $fontsizeh2;
	}
	// background-color: aqua;

	.commentsBox {
		.flickity-viewport {
			.flickity-slider {
				.card {
					width: 60%;
					background-color: hsl(0, 0%, 98%);
					margin: 5rem 2rem 3rem;
					padding: 2rem;
					padding-top: 5rem;
					.name {
						font-weight: bold;
						margin-bottom: 1rem;
					}
					.comment {
						color: $DarkGrayishBlue;
					}
					.avatar {
						position: absolute;
						top: 0px;
						left: 50%;
						transform: translate(-50%, -50%);
						background-repeat: no-repeat;
						background-size: contain;
						height: 6rem;
						aspect-ratio: 1/1;
					}
				}
			}
		}
	}

	.getStarted {
		position: relative;
		// bottom: 0px;
	}
}

////////

///////

/* backup

.comments {
	position: relative;
	h2 {
		font-size: $fontsizeh2;
	}

	.commentsBox {
		height: 20rem;
		//display: flex;
		// overflow: hidden;
		position: absolute;
		width: 100%;
		margin: 0 auto;
		// .card:nth-child(1) {
		// 	left: 0;
		// }
		// .card:nth-child(2) {
		// 	left: 1100px;
		// 	right: calc(-100% - 1100px);
		// 	// width: 100%;
		// 	// right: 0;
		// }
		// .card:nth-child(3) {
		// 	display: none;
		// }
		// .card:nth-child(4) {
		// 	display: none;
		// }
		// .card:nth-child(5) {
		// 	display: none;
		// }

		.card {
			transition: all 2s;
			box-sizing: border-box;
			// width: 45rem;
			height: 200px;
			position: absolute;
			background-color: hsl(0, 0%, 98%);
			margin: 2rem;
			margin-top: 5rem;
			padding: 2rem;
			padding-top: 5rem;
			.name {
				font-weight: bold;
				margin-bottom: 1rem;
			}
			.comment {
				color: $DarkGrayishBlue;
			}
			.avatar {
				position: absolute;
				top: 0px;
				left: 50%;
				transform: translate(-50%, -50%);
				background-repeat: no-repeat;
				background-size: contain;
				height: 6rem;
				aspect-ratio: 1/1;
			}
		}
		.level0 {
			left: 0;
		}

		.level1 {
			left: 1100px;
			right: calc(-100% - 1100px);
			// display: none;
			// width: 100%;
			// right: 0;
		}
		.level-1 {
			left: -1300px;
		}
	}
	// .one {
	// 	.card {
	// 		width: 100%;
	// 	}
	// }

	.getStarted {
		position: absolute;
		bottom: 0px;
	}
}

*/
