.navBar {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
	.logo {
		display: flex;
		align-content: space-around;
		flex-wrap: wrap;
	}

	.hamburger-react {
		div {
			height: 5px !important;
		}
	}

	.nav {
		display: flex;
		align-items: center;
		a {
			text-decoration: none;
			cursor: pointer;
			margin: 0 0.7rem;
		}
		 a:visited, a{
			color: black;
			font-weight: bold;
		 } 
	}

	// button {
	// 	//
	// }
}
